#content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  width: 650px;
}

.icon-bar a {
  padding: 10px;
  color: gray;
}

.icon-bar a:hover {
  color: black;
}

.navbar ul {
  position: fixed;
  padding-left: 25px;
  padding-top: 25px;
}

.navbar .icon-bar {
  position: fixed;
  right: 0;
  padding-top: 25px;
}

.bg-light {
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  left: 0;
  width: 100%;
}

