#content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  width: 650px;
}

#content.fade-in {
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
}

.column {
  padding: 20px;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 50% 50%;
}

.grid-item {
  padding: 20px;
  background-color: gainsboro;
}

.grid-item:hover {
  background-color: whitesmoke;
}

.icon-bar a {
  padding: 10px;
  color: gray;
}

.icon-bar a:hover {
  color: black;
}

.navbar ul {
  position: fixed;
  padding-top: 25px;
  padding-left: 25px;
}

.navbar .icon-bar {
  position: fixed;
  padding-top: 25px;
  right: 0;
}

.bg-light {
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  width: 100%;
}

.center {
  display: block;
  margin: 0 auto; 
  text-align: center;
}

.my-slides .caption {
  position: relative;
  bottom: 30px;
  opacity: 0;
  color: black;
  text-transform: uppercase;
  font-weight: bold;  
}

.my-slides:hover img {
  opacity: 0.5;
}

.my-slides:hover .caption {
  opacity: 1;
}

.map {
  height: 650px;
}

.alert {
  width: 650px;
}

.submap-label {
  padding-top: 100px;
}

#chart-container {
  padding-bottom: 100px;
}