#content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  width: 650px;
}

.icon-bar a {
  padding: 10px;
  color: gray;
}

.icon-bar a:hover {
  color: black;
}

.navbar ul {
  position: fixed;
  padding-top: 25px;
  padding-left: 25px;
}

.navbar .icon-bar {
  position: fixed;
  padding-top: 25px;
  right: 0;
}

.bg-light {
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  width: 100%;
}

#content.fade-in {
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
}